---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/search/search.css">
	{% seo %}
</head>

<body>

	{% include header.html %}

	{% include search.html %}

	<main>
		{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
	</main>

	{% if page.path contains '_posts' %}

	{% if content contains 'reversefootnote' %}
	<aside class="note"></aside>
	<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
	{% endif %}

	{% endif %}

	<script src="{{ site.baseurl }}/assets/custom.js"></script>
	<script src="{{ site.baseurl }}/assets/prism.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/lunr.min.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/lunr.stemmer.support.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/lunr.multi.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/tinyseg.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/wordcut.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/lunr.ko.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/lunr.ja.js"></script>
	<script src="{{ site.baseurl }}/assets/search/lunr/lunr.zh.js"></script>
	<script src="{{ site.baseurl }}/assets/search/metadata.js"></script>
	<script src="{{ site.baseurl }}/assets/search/search.js"></script>

	{% if page.use_math %}
	{% include _mathjax_support.html %}
	{% endif %}

</body>

</html>